<style>
#header{
    background-color:black;
    color:white;
    text-align: center;
    padding:5px;
}
#nav {
    line-height: 30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section{
    width:350px;
    float:left;
    padding:10px;
}
#footer{
    background-color:black;
    color:white;
    clear:both;
    text-align: center;
    padding:5px;
}
</style>

<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}


<style>
table.lamp{
    width:100%;
    border:1px sollid#d4d4d4;
}
taple.lamp th, td{
    padding:10px;
}
table.lamp th{
    width:40px;
}
</style>