
body#background {
  background: url(http://imgur.com/AzAvpyg) no-repeat 50% 50% fixed deepskyblue; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
#RengarStats{
    text-align: center;
    font-size: 48px;
}
#selectADC{
    width:120px ;
}

