
html{
    height:100%;
    background-color: deepskyblue ;
    background-size:cover;
}
#RengarStats{
    text-align: center;
    font-size: 48px;
}
#selectADC{
    width:120px ;
    height:24px ;
}

